.container{
    display:flex;
    background:lightgrey;
}
.navlist{
    list-style-type: none;
    display:flex;
    padding-left:0.5rem;
}
.navlist>li{
    margin:0.2rem 0.5rem;
}
.navlist>li>a{

    text-decoration: none;
    color:black;
}
.navlist>li>a:hover{
    color:rgb(105, 105, 105);
}
.button{
    background:rgb(56, 116, 247);
    color:white;
    border-radius: 0.3rem;
}
.delete{

    background:rgb(189, 59, 55);
    color:white;
    border-radius: 0.3rem;
}